*
{
	font-family:Arial;
	font-size:13px;
}
a 
{
    text-decoration: none;
}
a:link 
{
   color: #5f6368;
}
a:visited 
{
   color: #5f6368;
}
#conteneur0
{
	color:#212121;
	display: flex;
	justify-content: flex-end;
	padding: 20px;
}
#conteneur1
{
	color:#5f6368;
	text-align: center;
	padding: 6% 30% 11% 30%;
}
#France
{
	color:#5f6368;
	background-color: #f2f2f2;
	margin: 0;
	height: 1.5%;
	padding: 0.2% 0 0.2% 1%;
}
#footer
{
	color:#5f6368;
	display: flex;
	justify-content: space-between;
	height: 2%;
	padding: 0.2% 0 0.2% 0;
}
